:host {
    --primary: var(--bs-primary);
    --light: #f3f3f3;
    --danger: #dc3545;
    --border-color: rgb(206, 212, 218);
    --border-radius: 0.25em;
    --list-bg: var(--bs-body-bg);
    --list-col: #333;
    --list-border: #d4d4d4;
    --list-active-col: var(--bs-light);
    --list-hover-bg: #e9e9e9;
    --list-hover-col: var(--list-col);
}

*,
::after,
::before {
    box-sizing: border-box;
}

input[type="search"] {
    padding-left: 40px;
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 13px center;
}

/*** display value ***/
.value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-top: 2px;
    padding: 1em;
}

.value > :last-child {
    margin-left: 1em;
}

/*** autocomplete list ***/
.autocomplete {
    position: relative;
}

.autocomplete .items {
    position: absolute;
    border: 1px solid var(--border-color);
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 40vh;
    color: var(--list-col);
    background-color: var(--list-bg);
    border-radius: var(--border-radius);
    overflow: auto;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.26),
        -5px 5px 5px -5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.26),
        -5px 5px 5px -5px rgba(0, 0, 0, 0.26);
}

.autocomplete .items.top {
    bottom: calc(100% + 39px);
    top: unset;
    -webkit-box-shadow: 5px -5px 5px -5px rgba(0, 0, 0, 0.26),
        -5px -5px 5px -5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px -5px 5px -5px rgba(0, 0, 0, 0.26),
        -5px -5px 5px -5px rgba(0, 0, 0, 0.26);
}

.autocomplete .items .option {
    padding: 10px;
    cursor: pointer;
    background-color: var(--list-bg);
    border-bottom: 1px solid var(--list-border);
}

.autocomplete .items .option:last-child {
    border-bottom: none;
}

.autocomplete .items .option:hover {
    color: var(--list-hover-col);
    background-color: var(--list-hover-bg);
}

.autocomplete .active {
    background-color: var(--primary) !important;
    color: var(--list-active-col);
}

/*** error ***/
.error {
    color: var(--danger);
    padding: 5px;
}

/*** Loader ***/
.load-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--list-bg);
}

.loader {
    border: 5px solid var(--light);
    border-top: 5px solid var(--primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 1em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
